<div class="custom-page-container">
  <h1 class="title">Starting point</h1>

  <p class="home-description">
    Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Beatae blanditiis consequuntur dolorem dolores,
    doloribus esse eum incidunt inventore, ipsa laboriosam
    molestias mollitia nobis quaerat, quia rem rerum veritatis
    voluptate voluptatum!
  </p>

  <%= link_to 'Articles', articles_path, class: "btn btn-outline-primary" %>
</div>
