<div class="home-container">
  <h1 class="title">Alpha Blog</h1>
  <p class="home-description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid at consequatur,
    cum debitis dignissimos ea, fuga fugiat in ipsum iste natus nisi officia pariatur provident
    quae, soluta sunt tempora.
  </p>
  <button class="cta-button">
    <%= link_to 'Articles', articles_path %>
  </button>
</div>